 <div>
  <% if booking.status == 'accepted' %>
    <p style="color: green;"> <%= icon('fas', 'thumbs-up')%> <%= booking.status %> </p>
  <% elsif booking.status == 'pending'%>
    <p style="color: orange;"> <%= icon('fas', 'exclamation-triangle')%> <%= booking.status %> </p>
  <% else %>
    <p style="color: red;"> <%= icon('fas', 'thumbs-down')%> <%= booking.status %> </p>
  <% end %>
</div>
<div>
  <% if booking.status == 'accepted'%>
    <%= link_to performance_booking_path(booking.performance, id: booking.id, value: "declined"), method: :patch do %>
    <i class="fas fa-toggle-on" style="color:green; font-size: 24px; "></i>
    <% end %>
  <% elsif booking.status == 'declined'%>
    <%= link_to performance_booking_path(booking.performance, id: booking.id, value: "accepted"), method: :patch do %>
    <i class="fas fa-toggle-off" style="color:red; font-size: 24px; "></i>
    <% end %>
  <% elsif booking.status == 'pending' %>
    <div class="toggle_button">
      <%= link_to performance_booking_path(booking.performance, id: booking.id, value: "declined"), method: :patch do %>
        <i class="far fa-circle" style="color:orange; font-size: 12px; "></i>
      <% end %>
      <i class="fas fa-circle" style="color:white; font-size: 12px; "></i>
      <%= link_to performance_booking_path(booking.performance, id: booking.id, value: "accepted"), method: :patch do %>
        <i class="far fa-circle" style="color:orange; font-size: 12px; "></i>
      <% end %>
    </div>
  <% end %>
</div>
