<div class="main_container">
  <!-- you're a magician -->
  <div class="container" >
    <!-- title bar -->
    <% if current_user.performances.present? %>
      <div class="title" style="background-color: #4d01797e;" >
        <h1><%= current_user.username %></h1>
        <h3>magician dashboard</h3>
      </div>
    <!-- magician performances -->
      <h2> Your performances </h2>
      <div class="cards_container">
        <% current_user.performances.each do |performance| %>
          <div class="card" style="width: 18rem;">
            <%= link_to performance do %>
              <% if performance.photo.attached? %>
                <%= cl_image_tag performance.photo.key, height: 165, width: 267, crop: :fit %>
              <% else %>
                <img src="https://res.cloudinary.com/dmp0gq5lk/image/upload/v1629214993/matt-flores-NpgN1gXdlSw-unsplash_tqyr0l.jpg" alt="" height=165>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= performance.title %></h5>
                <p class="card-text"><%= performance.description %></p>
                <%= performance.location %>
                <%= performance.price %>
                <%= performance.average_rating %>
                <% if policy(performance).destroy? %>
                  <div class="trash">
                    <%= link_to performance, method: :delete, data: { confirm: "Are you sure?" } do %>
                      <%= icon('far', 'trash-alt') %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>


        <% if performance.bookings.present? %>
          <h2> Your bookings </h2>
          <div class="row">
            <% performance.bookings.each do |booking| %>
            <% if booking.present? && booking.date > Time.now %>
              <div class="small_card">
                <% if booking.performance.photo.attached? %>
                  <%= cl_image_tag booking.performance.photo.key, height: 165, width: 267, crop: :fit %>
                <% else %>
                  <img src="https://res.cloudinary.com/dmp0gq5lk/image/upload/v1629214993/matt-flores-NpgN1gXdlSw-unsplash_tqyr0l.jpg" alt="" height=165>
                <% end %>
                <div class="card-infos">
                  <h2><%= booking.performance.title %></h2>
                  <p><%= booking.user.username %></p>
                  <p><%= booking.date %></p>
                </div>
                <div class="card-status">
                  <div>
                    <% if booking.status == 'accepted' %>
                      <p style="color: green;"> <%= icon('fas', 'thumbs-up')%> <%= booking.status %> </p>
                    <% elsif booking.status == 'pending'%>
                      <p style="color: orange;"> <%= icon('fas', 'exclamation-triangle')%> <%= booking.status %> </p>
                    <% else %>
                      <p style="color: red;"> <%= icon('fas', 'thumbs-down')%> <%= booking.status %> </p>
                    <% end %>
                  </div>
                  <div>
                    <% if booking.status == 'accepted'%>
                      <%= link_to performance_booking_path(booking.performance, id: booking.id, value: "declined"), method: :patch do %>
                      <i class="fas fa-toggle-on" style="color:green; font-size: 24px; "></i>
                      <% end %>
                    <% elsif booking.status == 'declined'%>
                      <%= link_to performance_booking_path(booking.performance, id: booking.id, value: "accepted"), method: :patch do %>
                      <i class="fas fa-toggle-off" style="color:red; font-size: 24px; "></i>
                      <% end %>
                    <% elsif booking.status == 'pending' %>
                      <div class="toggle_button">
                        <%= link_to performance_booking_path(booking.performance, id: booking.id, value: "declined"), method: :patch do %>
                          <i class="far fa-circle" style="color:orange; font-size: 12px; "></i>
                        <% end %>
                        <i class="fas fa-circle" style="color:white; font-size: 12px; "></i>
                        <%= link_to performance_booking_path(booking.performance, id: booking.id, value: "accepted"), method: :patch do %>
                          <i class="far fa-circle" style="color:orange; font-size: 12px; "></i>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
            <% end %>

        <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- you're a customer -->
  <div class="container" >
    <% if current_user.bookings.present? %>
      <div class="title" style="background-color: #4d01797e;">
        <h1><%= current_user.username %></h1>
        <h3>customer dashboard</h3>
      </div>
          <h2> Your bookings </h2>
          <div class="row">
            <% current_user.bookings.each do |booking| %>
              <% if booking.present? && booking.date > Time.now %>
                <div class="small_card">
                <% if booking.performance.photo.attached? %>
                  <%= cl_image_tag booking.performance.photo.key, height: 165, width: 267, crop: :fit %>
                <% else %>
                  <img src="https://res.cloudinary.com/dmp0gq5lk/image/upload/v1629214993/matt-flores-NpgN1gXdlSw-unsplash_tqyr0l.jpg" alt="" height=165>
                <% end %>
                <div class="card-infos">
                  <h2><%= booking.performance.title %></h2>
                  <p><%= booking.performance.user.username %></p>
                  <p><%= booking.date %></p>
                </div>
                <div class="card-status">
                  <div>
                    <% if booking.status == 'accepted' %>
                      <p style="color: green;"> <%= icon('fas', 'thumbs-up')%> <%= booking.status %> </p>
                    <% elsif booking.status == 'pending'%>
                      <p style="color: orange;"> <%= icon('fas', 'exclamation-triangle')%> <%= booking.status %> </p>
                    <% else %>
                      <p style="color: red;"> <%= icon('fas', 'thumbs-down')%> <%= booking.status %> </p>
                    <% end %>
                  </div>
                </div>
                </div>


              <% end %>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
</div>
