<div class="main_container">
  <!-- you're a magician -->
  <div class="container" >
    <!-- title bar -->
    <!--<h1>Hello <%= current_user.username %></h1>-->
    <% if current_user.performances.present? %>
      <div class="title"  >
        <h2>magician dashboard</h2>
      </div>
    <!-- magician performances -->
      <h3> Your performances </h3>
      <div class="cards_container">
        <% current_user.performances.each do |performance| %>
          <div class="card magic">
            <%= link_to performance do %>
            <!-- performance picture -->
              <% if performance.photo.attached? %>
                <%= cl_image_tag performance.photo.key, height: 165, width: 267, crop: :fit %>
              <% else %>
                <img src="https://res.cloudinary.com/dmp0gq5lk/image/upload/v1629214993/matt-flores-NpgN1gXdlSw-unsplash_tqyr0l.jpg" alt="" height=165>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= performance.title %></h5>
                <p class="card-text"><%= performance.description %></p>
                <p class="card.location"><%= performance.location %></p>
                <div class="cards_bottom">
                  <p class="card.price"><%= performance.price %></p>
                <%#= performance.average_rating %>
                  <% if policy(performance).destroy? %>
                    <div class="trash">
                      <%= link_to performance, method: :delete, data: { confirm: "Are you sure?" } do %>
                        <%= icon('far', 'trash-alt') %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <!-- magician bookings -->
      <% current_user.performances.each do |performance| %>
          <% performance.bookings.each do |booking| %>
            <% if booking.present? && booking.date > Time.now %>
              <h3> Your bookings </h3>
            <% end %>
          <% end %>
      <% end %>
      <div class="cards_container">
        <% current_user.performances.each do |performance| %>
          <% performance.bookings.each do |booking| %>
            <% if booking.present? && booking.date > Time.now %>
              <div class="small_card">
                <% if booking.performance.photo.attached? %>
                  <%= cl_image_tag booking.performance.photo.key, height: 165, width: 267, crop: :fit %>
                <% else %>
                  <img src="https://res.cloudinary.com/dmp0gq5lk/image/upload/v1629214993/matt-flores-NpgN1gXdlSw-unsplash_tqyr0l.jpg" alt="" height=165>
                <% end %>
                <div class="card-infos">
                  <h2 ><%= booking.performance.title %></h2>
                  <p><%= booking.user.username.capitalize %></p>
                  <p><%= booking.date %></p>
                  <div class="card-status">
                  <%= render 'booking_status', booking: booking %>
                  </div>
                </div>

              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- you're a customer -->
  <div class="container" >
    <% if current_user.bookings.present? %>
      <div class="title">
        <h2>customer dashboard</h2>
      </div>
  <!-- customer bookings -->
      <h3> Your bookings </h3>
      <div class="cards_container">
        <% current_user.bookings.each do |booking| %>
          <% if booking.present? && booking.date > Time.now %>
            <div class="small_card">
              <% if booking.performance.photo.attached? %>
                <%= cl_image_tag booking.performance.photo.key, height: 165, width: 267, crop: :fit %>
              <% else %>
                  <img src="https://res.cloudinary.com/dmp0gq5lk/image/upload/v1629214993/matt-flores-NpgN1gXdlSw-unsplash_tqyr0l.jpg" alt="" height=165>
              <% end %>
              <div class="card-infos">
                <h2><%= booking.performance.title %></h2>
                <div style="display: flex; justify-content: flex-start; align-content: center;">
                  <%= image_tag "https://avatars.githubusercontent.com/u/84907809?v=4", class: "avatar-bordered", style: "width: 16px; height: 16px;"%>
                  <p><%= booking.user.username.capitalize %></p>
                </div>
                <p><%= booking.date %></p>

                <button type="button" class="btn btn-primary btn-review purple-button button-center" data-toggle="modal" data-target="#reviewsModal-<%= booking.id %>">
                  Add a review
                </button>

              </div>

              <div class="modal fade" id="reviewsModal-<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">How was it, bitch ?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= simple_form_for([ booking.performance, booking, @review ]) do |f| %>
                      <%= f.input :comment, as: :text %>
                      <%= f.input :rating, as: :integer %>
                      <%= f.button :submit, class: "purple-button modal-button" %>
                      <% end %>
                    </div>
                  </div>
                </div>

                <div class="card-status">
                  <div>
                    <% if booking.status == 'accepted' %>
                      <p style="color: green;"> <%= icon('fas', 'thumbs-up')%> <%= booking.status %> </p>
                    <% elsif booking.status == 'pending'%>
                      <p style="color: orange;"> <%= icon('fas', 'exclamation-triangle')%> <%= booking.status %> </p>
                    <% else %>
                      <p style="color: red;"> <%= icon('fas', 'thumbs-down')%> <%= booking.status %> </p>
                    <% end %>
                  </div>
                </div>

            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
