<%= simple_form_for performance do |f| %>
  <%= f.input :title, class: 'purple-border' %>
  <%= f.input :description, class: 'purple-border' %>
  <%= f.input :location, class: 'purple-border', id: 'performance_location' %>
  <%= f.input :price, class: 'purple-border' %>
  <%= f.input :photo, as: :file %>
  <div class="btn-center">
    <%= f.button :submit, class: 'purple-button' %>
  </div>
<% end %>
