<%= simple_form_for performance do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :location, id: 'performance_location' %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <div class="btn-center">
    <%= f.button :submit, class: 'purple-button' %>
  </div>
<% end %>
