<%= cl_image_tag @performance.photo.key, height: 300, width: 1500, crop: :fill %>

<h3><%= @performance.title %></h3>

<%= @performance.location %>
<%= @performance.price %> €

<p><%= @performance.description %></p>
