<!DOCTYPE html>
<html>
  <head>
    <title>OZ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  </head>

  <body>
    <div class="content">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
        <%= yield %>
    </div>
  </body>
  <%= render 'shared/footer' %>
</html>
